<ion-header>
  <ion-navbar color="hcolor">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{dateNow | date:"HH:mm dd-MM"}} </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <div *ngIf="jestForm">
    <form [formGroup]="formGroupDodajPozycje" novalidate>
      <div class="form-group">
        <ion-item>
          <ion-label floating>Tonaz</ion-label>
          <ion-input type="number" formControlName="wll" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>L1</ion-label>
          <ion-input type="number" formControlName="l1" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>Licznik</ion-label>
          <ion-input type="number" formControlName="m"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>Nici</ion-label>
          <ion-input type="text" formControlName="nici"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>Zlecenie</ion-label>
          <ion-input type="number" formControlName="auf"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>Sztuk</ion-label>
          <ion-input type="number" formControlName="ilosc"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>Czas</ion-label>
          <ion-input type="number" formControlName="czas"></ion-input>
        </ion-item>
        <button ion-button color="primary" type="submit" (click)="zapiszPozycje(formGroupDodajPozycje.value)" [disabled]="!formGroupDodajPozycje.valid"
          block>Zapisz</button>
      </div>
    </form>
    <button ion-button block *ngIf="przyciskZamknij" (click)="zamknijForm()">Zamknij</button>
  </div>
  <div padding>
    <ion-segment [(ngModel)]="segmentPraca">
      <ion-segment-button value="pozycje">
        Pozycje
      </ion-segment-button>
      <ion-segment-button value="naddatki">
        Naddatki
      </ion-segment-button>
    </ion-segment>
  </div>

  <div [ngSwitch]="segmentPraca">
    <ion-list *ngSwitchCase="'pozycje'">
      <div>
        <button ion-button block round secondary *ngIf="przyciskDodaj" (click)="pokaForm()">Dodaj</button>
        <table>
          <thead>
            <tr>
              <th>WLL</th>
              <th>L1</th>
              <th>Licz</th>
              <th>Nici</th>
              <th>Zlecenie</th>
              <th>Ilosć</th>
              <th>Czas</th>
              <th>Data</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let pozycja of pozycje | async" (click)="openDetail(pozycja)" [ngStyle]="{'background-color': pozycja.fireTimestamp > lastDay ? '#baffb2' : 'white'}">
              <td>
                <span>{{pozycja.wll}}</span>
              </td>
              <td>
                <span>{{pozycja.l1}} </span>
              </td>
              <td>
                <span>{{pozycja.m | number }} </span>
              </td>
              <td>
                <span>{{pozycja.nici}}</span>
              </td>
              <td>
                <span>{{pozycja.auf}}</span>
              </td>
              <td>
                <span>{{pozycja.ilosc}}</span>
              </td>
              <td>
                <span>{{(pozycja.czas * pozycja.ilosc)/60 | number}}</span>
              </td>
              <td *ngIf="pozycja.fireTimestamp">
                <small>{{pozycja.fireTimestamp | date:"HH:mm"}}</small>
              </td>
            </tr>
          </tbody>
        </table>
        <button ion-button block small round (click)="showAllPozycje()">Wszystkie pozycje</button>
      </div>
    </ion-list>
    <ion-list *ngSwitchCase="'naddatki'">
      <button ion-button block (click)="addNaddatek()">Dodaj</button>
      <table>
        <thead>
          <tr>
            <th>tonaz</th>
            <th>Długość</th>
            <th>Maszyna</th>
            <th>Naddatek</th>
            <th>data</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let naddatek of naddatki | async" (click)="openDetailNaddatek(naddatek)">
            <td>
              <span>{{naddatek.wll}}</span>
            </td>
            <td>
              <span>{{naddatek.l1}}</span>
            </td>
            <td>
              <span>{{naddatek.maszyna}}</span>
            </td>
            <td>
              <span>{{naddatek.mojNaddatek}}</span>
            </td>
            <td>
              <span *ngIf="naddatek.fireTimestamp">{{naddatek.fireTimestamp | date:"HH:mm"}}</span>
              <span *ngIf="naddatek.updateDate">{{naddatek.updateDate | date:"HH:mm"}}</span>
            </td>
          </tr>
        </tbody>
      </table>

    </ion-list>
  </div>

</ion-content>
