page-praca {
  table {
    table-layout: auto;
    width: 100%;
  }
  table {
    border-collapse: collapse;
  }
  table,
  th,
  td {
    border: 1px solid black;
  }
  td {
    text-align: center;
  }
}
