<ion-header>
    <ion-navbar color="hcolor">
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>Timer2</ion-title>
    </ion-navbar>
  </ion-header>


<ion-content padding>
  <p>Ticks1 : {{ticks1}}</p>
  <p>Ticks2 : {{ticks2}}</p>
  <p>Ticks3 : {{ticks3}}</p>
</ion-content>
