page-view {
  padding: 1;
  margin: 0;
  ion-card {
    text-align: center;
    padding: 0;
    margin: 0;
    padding-top: 3px;
  }
  .naglowek {
    display: flex;
    justify-content: space-around;
  }
}
