<ion-header>
  <ion-navbar color="hcolor">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title> {{ dateNow | amDateFormat:'HH:mm DD.MM.YY' }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-card>
    <p>
      <b>{{sumIlosc | number}}</b> szt.
      <b>{{ summMinut | number }}</b> min
      <b>{{ summMinut / 60 | number }}</b> godz.
    </p>
    <p *ngIf="summMinut > 1">
      Brakuje:
      <b>{{450-summMinut | number }}</b> min
      <b>{{7.5-summMinut /60| number }}</b> godz
    </p>
  </ion-card>

  <ion-fab top right>
    <button (click)="goAdd()" ion-fab color="hcolor">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>

  <ion-fab bottom right>
    <button ion-fab color="pomarancza">
      <ion-icon name="calendar"></ion-icon>
    </button>
    <ion-fab-list side="left">

      <button ion-fab color="primary" (click)="getPozycje(5000)">
        Wszystko
      </button>

      <button ion-fab color="primary" (click)="getPozycje(336)">
        14
      </button>

      <button ion-fab color="primary" (click)="getPozycje(168)">
        7
      </button>


    </ion-fab-list>
  </ion-fab>

  <ion-list>

    <ion-item *ngFor="let d of items2 | async;" (click)="toggleDetails(d)" [ngStyle]="{'background-color': d.fireTimestamp > lastDay? '#acefac' : '#f4f4f4'}">
      <ion-grid>
        <ion-row>
          <ion-col>
            {{d.wll}}T
          </ion-col>
          <ion-col>
            {{d.l1}}m
          </ion-col>

          <ion-col>
            licz: {{d.m}}
          </ion-col>
          <ion-col>
            nici: {{d.nici}}
          </ion-col>
          <ion-col>
            <!-- // aufFormat sie wyswietla -->
            <div *ngIf="d.aufFormat; else niezformatowanyTemplate"> {{ d.aufFormat }} </div>
            <ng-template #niezformatowanyTemplate>
              {{ d.auf }} --- niezformatowanyTemplate---
            </ng-template>
          </ion-col>
          <ion-col>
            {{d.ilosc}} szt
          </ion-col>

        </ion-row>
        <ion-row>
          <!--
            Wersja 1   -->
          <ion-col>
            {{d.czas * d.ilosc | number }} min
          </ion-col>
          <ion-col>
            {{ ( d.czas * d.ilosc ) /60 | number}} godz
          </ion-col>

          <ion-col>
            <span *ngIf="d.waga">{{d.waga * d.ilosc | number }} kg </span>
          </ion-col>
          <!--
            Wersja 2
            <ion-col>
              {{d.czas}}min/szt = {{d.czas * d.ilosc | number }}min = {{ ( d.czas * d.ilosc ) /60 | number}} godz
          </ion-col> -->
          <ion-col>
            <ion-icon (click)="openDetail(d)" name="open"></ion-icon>
          </ion-col>
          <ion-col>
            <ion-icon *ngIf="d.waga; else innyBlok" color="primary" name="arrow-round-down"></ion-icon>
          </ion-col>
          <ion-col>
            <ion-icon (click)="update(d)" name="create"></ion-icon>
          </ion-col>
          <ion-col>
            <ng-template #innyBlok>
              <ion-icon (click)="addWaga(d)" color="danger" name="add-circle"></ion-icon>
            </ng-template>
          </ion-col>
        </ion-row>
      </ion-grid>
      <div *ngIf="d.showDetails" (click)="getTime(d.wll, d.l1)">

        <div>
          <small style="float:right;">
            min:
            <b> {{ d.l1 - 0.01*d.l1 | number }}</b> max:
            <b>{{ d.l1* 1 + (0.01*d.l1) | number }}</b>
          </small>
        </div>
        <p *ngIf="d.waga;else templateWaga">Waga: {{d.waga * d.ilosc | number }}kg = {{d.ilosc}}szt x {{d.waga }}kg
        </p>

        <ng-template #templateWaga>
          <b style="color:red">Nie ma wagi</b>
        </ng-template>
        <div *ngIf="d.note">
          <p>Notatka: </p>
          <textarea cols="80%" rows="10">{{d.note }}</textarea>
        </div>
        <ion-card>
          <ion-grid>
            <ion-row>
              <ion-col>
                <b>Wll</b>
              </ion-col>
              <ion-col>
                <b>L1</b>
              </ion-col>
              <ion-col>
                <b>Czas</b>
              </ion-col>
              <ion-col>
                <b>Data</b>
              </ion-col>
            </ion-row>

            <ion-row *ngFor="let time of times2 | async">
              <ion-col>
                {{ time?.wll }}
              </ion-col>
              <ion-col>
                {{ time?.l1 }}
              </ion-col>
              <ion-col>
                {{ time?.czas }}
              </ion-col>
              <ion-col>
                {{ time?.fireTimestamp | amLocale:'pl' | amDateFormat: 'DD-MM' }}
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>

        <p style="float: right; "> {{ d.fireTimestamp | amLocale:'pl' | amTimeAgo }} </p>
      </div>

    </ion-item>

  </ion-list>

</ion-content>
