<ion-tabs>
  <ion-tab [root]="tab1Root" tabTitle="Pokaz" tabIcon="clipboard"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Dodaj" tabIcon="add"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Praca" tabIcon="hammer"></ion-tab>
  <ion-tab [root]="tab4Root" tabTitle="Waga" tabIcon="speedometer"></ion-tab>
  <ion-tab [root]="tab5Root" tabTitle="Naddatki" tabIcon="pricetags"></ion-tab>
  <ion-tab [root]="tab6Root" tabTitle="Czasy" tabIcon="clock"></ion-tab>
</ion-tabs>

