<ion-header>
  <ion-navbar color="hcolor">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Timer {{ seconds }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-header>
      Odliczanie
    </ion-card-header>
    <ion-card-content>
      <button ion-button (click)="start()">Start</button>
      <button ion-button (click)="stop()">Stop</button>
      <ion-item>{{message}}</ion-item>
    </ion-card-content>
  </ion-card>
  <a href="https://keep.google.com/">
    <button ion-button round full>Keep</button>
  </a>
  <a href="https://friendlychat-5ffbc.firebaseapp.com/">
    <button ion-button color="secondary" full>Online version</button>
  </a>
  <a href="https://ruta89.github.io/">
    <button ion-button color="hcolor" full>Todo Ruta89</button>
  </a>
  <a href="https://gist.github.com/Ruta89/7180e870c88f83b77f9c53b064a9c061">
    <button ion-button full>Gist cmder</button>
  </a>
  <a href="https://docs.google.com/document/d/1YzypDN3H5hby_kHfN25vUfcaVlQ286sIyroJpTehXtA/edit">
    <button ion-button full>Skróty klawiszowe</button>
  </a>
  <a href="https://github.com/Ruta89?tab=stars">
    <button ion-button full>Github Stars</button>
  </a>
  <p>
    <a href="https://allegro.pl/listing?string=zawiesie%20w%C4%99%C5%BCowe&order=pd&bmatch=ss-base-relevance-floki-5-nga-hcp-com-1-5-1003"></a>
  </p>
  <p>
    <a href="https://www.wz-narzedzia.pl/search.html?phrase=Zawiesie+w%C4%99%C5%BCowe+dolezych">Ceny zawiesi Dolezych</a>
  </p>
  <p>
    <a href="https://www.wz-narzedzia.pl/search.html?phrase=Zawiesie+w%C4%99%C5%BCowe">Ceny zawiesi innych</a>
  </p>
  <p>
    <a href="https://www.sklepzpasami.pl/zawiesia-wezowe/1/full">sklepzpasami.pl</a>
  </p>
  <p>
    <a href="http://www.sklep.dzwignice.com/64-zawiesia-wezowe-bezkoncowe">sklep.dzwignice.com</a>
  </p>
  <p>
    <a href="https://assecuro.pl/category/zawiesia-poliestrowe-koliste-wezowe">assecuro.pl</a>
  </p>

  <p>
    <a href="https://www.amazon.de/s/ref=nb_sb_noss?__mk_pl_PL=%C3%85M%C3%85%C5%BD%C3%95%C3%91&url=search-alias%3Daps&field-keywords=dolezych+6000+Rundschlingen&rh=i%3Aaps%2Ck%3Adolezych+6000+Rundschlingen">amazon</a>
  </p>
  <p>
    <a href="https://www.ebay.de/sch/i.html?_odkw=dolezych+8000&_osacat=0&_from=R40&_trksid=p2045573.m570.l1313.TR0.TRC0.H0.TRS0&_nkw=dolezych+&_sacat=0">ebay</a>
  </p>
  <button ion-button color="primary" full (click)="timer2Go()">Timer2</button>
</ion-content>
