<ion-header>
  <ion-navbar color="hcolor">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Naddatki</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <a href="https://docs.google.com/spreadsheets/d/1jBBTgsVw70yo9-NHZB4l-32aDIuEm0y2bA0j1UeG9FY/edit?usp=sharing">
    <button ion-button full>Arkusz</button>
  </a>

  <div>
    <ul *ngFor="let photo of photosArray; let i = index">
      <li *ngIf="photo?.url">
        <img (click)="openModal(i)" src="assets/images/photoN/small/{{photo.id}}.jpg" alt="{{photo.title}}" />
      </li>
    </ul>
  </div>
</ion-content>

