<ion-header>
  <ion-navbar color="hcolor">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Dodaj</ion-title>
  </ion-navbar>
  <ion-toolbar color="hcolor">
    <ion-segment [(ngModel)]="segment" color="secondary">
      <ion-segment-button value="step1">
        <ion-icon name="done-all"></ion-icon>

      </ion-segment-button>
      <ion-segment-button value="step2">
        <ion-icon name="done-all"></ion-icon>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div>
    <form [formGroup]="myForm" novalidate>

      <ion-list *ngIf="segment == 'step1'">
        <ion-item>
          <ion-label color="primary" stacked>Tonaz</ion-label>
          <ion-input #myInput placeholder="wll" type="number" formControlName="wll"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label color="primary" stacked>Dlugosc</ion-label>
          <ion-input type="number" placeholder="l1" formControlName="l1"></ion-input>
        </ion-item>
        <ion-item *ngIf="lastAuf">
          <ion-label color="primary" stacked>Lista ostatnich Auf</ion-label>
          <ion-select formControlName="auf">
            <ion-option *ngFor="let a of lastAuf | async" [value]="a.auf">{{a.auf}}</ion-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-label color="primary" stacked>Auf</ion-label>
          <ion-input type="text" placeholder="auf" formControlName="auf"></ion-input>
        </ion-item>
      </ion-list>

      <ion-list *ngIf="segment == 'step2'">
        <ion-item *ngIf="lastAuf">
          <ion-label color="primary" stacked>Lista ostatnich nici</ion-label>
          <ion-select formControlName="nici">
            <ion-option *ngFor="let e of lastAuf | async" [value]="e.nici">{{e.nici}}</ion-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-label color="primary" stacked>Nici</ion-label>
          <ion-input #myInput2 type="number" placeholder="nici" formControlName="nici" (keydown.enter)="nextInputEnter()" (keydown.tab)="nextInputTab()"></ion-input>
        </ion-item>


        <ion-item>
          <ion-label color="primary" stacked>Sztuk</ion-label>
          <ion-input #myInput3 type="number" placeholder="sztuk" formControlName="szt"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label color="primary" stacked>Czas</ion-label>
          <ion-input type="number" placeholder="czas" formControlName="czas" (keydown.tab)="zapiszPozycjeTab(myForm.value)"></ion-input>
        </ion-item>
        <button ion-button color="primary" (click)="zapiszPozycjeButton(myForm.value)" [disabled]="!myForm.valid" block>Zapisz</button>
      </ion-list>
    </form>
  </div>

</ion-content>
