<ion-header>
  <ion-toolbar color="hcolor">
    <ion-title>
      Edycja
    </ion-title>
    <ion-buttons start>
      <button ion-button color="color2" (click)="closeModal()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end>
      <button ion-button color="danger" (click)="usun()">
        <ion-icon name="trash"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <form [formGroup]="form" (ngSubmit)="saveItem(form.value)">

    <ion-item-divider color="light">
      <div>
        {{ itemWll }}T {{ itemL1 }}m {{ itemAuf }}
      </div>
    </ion-item-divider>

    <ion-item>
      <ion-label stacked>Wll</ion-label>
      <ion-input type="number" formControlName="wll" [(ngModel)]="itemWll"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>L1</ion-label>
      <ion-input type="number" formControlName="l1" [(ngModel)]="itemL1"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>Auf</ion-label>
      <ion-input type="number" formControlName="auf" [(ngModel)]="itemAuf"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>aufFormat</ion-label>
      <ion-input type="text" formControlName="aufFormat" [(ngModel)]="itemAufFormat"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>Czas</ion-label>
      <ion-input type="number" formControlName="czas" [(ngModel)]="itemCzas"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>Ilosc</ion-label>
      <ion-input type="number" formControlName="ilosc" [(ngModel)]="itemIlosc"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>Licznik</ion-label>
      <ion-input type="number" formControlName="m" [(ngModel)]="itemM"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>Nici</ion-label>
      <ion-input type="text" formControlName="nici" [(ngModel)]="itemNici"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Notatka</ion-label>
      <ion-textarea cols="80%" rows="10" formControlName="note" [(ngModel)]="itemNote"></ion-textarea>
    </ion-item>
    <ion-item>
      <input type="hidden" name="itemId">

      <button ion-button block>
        Zapisz
      </button>
    </ion-item>

  </form>
</ion-content>
