<ion-header>
  <ion-navbar color="hcolor">
    <ion-title>Pozycja</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-card>
    <ion-card-content>
      <p>min: <b>{{min | number}}</b> max: <b>{{max | number}}</b> <span class="wPrawo" *ngIf="value?.fireTimestamp"> Utworzono: <strong>{{value?.fireTimestamp | date:'HH:mm dd-M' }}</strong></span></p>
      <p> WLL: <strong>{{value?.wll}}</strong> T <span class="wPrawo" *ngIf="value?.updateDate">Modyfikow: <strong>{{value?.updateDate | date:'HH:mm dd-M'}}</strong> </span>        </p>
      <p>L1: <strong>{{value?.l1}}</strong> m</p>
      <p>Licz: <strong>{{value?.m}}</strong> </p>
      <p>Nici: <strong>{{value?.nici }}</strong></p>
      <p>Auf: <strong>{{aufFormat}}</strong> </p>
      <p>Szt: <strong>{{value?.ilosc}}</strong></p>
      <p> Czas: <strong>{{value?.czas}}</strong> min  Razem: <strong>{{czas | number}}</strong>g</p> 
      <ion-textarea [(ngModel)]="note"></ion-textarea>
      <button ion-button color="secondary" (click)="addNote(id,  note)">Dodaj notatke</button>
      <button ion-button color="primary" (click)="updatePozycja(value?.$key, value)">Uaktualnij</button>
      <button ion-button color="danger" (click)="usunPoz(id)">Usun</button>
    </ion-card-content>
  </ion-card>

</ion-content>
