<ion-header>
  <ion-navbar color="hcolor">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title> Sprawdz czas</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div>
    <ion-item>
      <ion-label stacked>wll
        <b>{{tonaz}}</b>
      </ion-label>
      <ion-input type="number" [(ngModel)]="tonaz" required></ion-input>
    </ion-item>



    <ion-item>
      <ion-label stacked>l1
        <b>{{dlugosc}}</b>
      </ion-label>
      <ion-input type="number" [(ngModel)]="dlugosc" required></ion-input>
    </ion-item>

    <button ion-button block (click)="getTime(tonaz, dlugosc)">Szukaj</button>

  </div>

  <ion-grid>
    <ion-row>
      <ion-col>
        <b>Tonaz</b>
      </ion-col>
      <ion-col>
        <b>Dlugosc</b>
      </ion-col>
      <ion-col>
        <b>Czas</b>
      </ion-col>
      <ion-col>
        <b>Data</b>
      </ion-col>
    </ion-row>
    <div *ngIf="times2">
      <div *ngFor="let time of times2 | async">
        <ion-row (click)="openDetail(time)">
          <ion-col>
            WLL: {{ time.wll }}
          </ion-col>
          <ion-col>
            L1: {{ time.l1 }}
          </ion-col>
          <ion-col>
            {{ time.czas }}
          </ion-col>
          <ion-col>
            {{ time.fireTimestamp | amLocale:"pl" | amDateFormat: 'DD-MM' }}
          </ion-col>

        </ion-row>
        <hr>
      </div>
    </div>
  </ion-grid>

</ion-content>
